<h3 class="text-center"><%= t('article.edit.title') %></h3>

<%= render 'form', button_text: "Зберегти зміни" %>

<%= link_to 'Повернутися до оголошень', articles_path, class: "btn btn-outline-secondary" %>