<h3 class="text-center">Створити нове оголошення</h3>

<%= render 'form', button_text: "Зберегти нове оголошення" %>

<%= link_to 'Повернутися до оголошень', articles_path, class: "btn btn-outline-secondary" %>