<h1>All users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First_name</th>
      <th scope="col">Last_name</th>
      <th scope="col">Email</th>
      <th scope="col">id</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %>     </td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>