<div class="container">
  <h1 class="text-center"><%= t('service.edit.title') %></h1>

  <%= render 'form', adress_url: admins_service_path(@service), 
                     button_text: "Зберегти зміни" %>
</div>