<div class="container">
  <h3 class="text-center"><%= t('service.new.title') %></h3>

  <%= render 'form', adress_url: admins_services_path, 
                     button_text: "Зберегти нову послугу" %>
</div>
