<div class="navbar-fixed-bottom row-fluid footer-style">
  <div class="navbar-inner">
    <div class="container">
      <p class="float-right">
        <%= link_to 'Back to top' %>
      </p>
      <p> © 2018 Company, Inc.
      · <%= link_to 'Home', home_page_index_path %> 
      · <%= link_to 'Articles', articles_path %>
      </p>
    </div>
  </div>
</div>